@font-face {
    font-family: Avenir;
    src: url(avenir_next.ttf);
}

body{
  font-family: Avenir;
}

table {
		border-collapse: collapse;
	}
	
.tablecontainer{
    vertical-align: top;
    padding: 10px;
}
